.menu
   {
      text-align:center;
   }
.menu li 
   {
   list-style-type: none;
   display: inline-table;
   width: 20%;
   }
.text
    {
       font-size: 20px;
       font-family: Times New Roman, Arial Narrow, Comic Sans MS;
       color:#330033;
    }
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.comfortaa-<uniquifier> {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align:center;
}
.zagl 
    {
       text-align: center;
       color:#0f3d0f;
    }
.perek  {
      color:#330000;
}
